nav {
    
    float: left;
    
}

nav ul {
    
    margin: 0;
    padding: 0;
    
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    
}

nav ul li {
    
    float: left;
    font-size: 120%;
    
}

nav ul li a {
    
    text-decoration: none;
    color: black;
    
}

nav ul li a:after {
    
    content: "\00a0";
    
}

nav ul li ul {
    
    display: none;
    position: fixed;
    
}

nav ul li:hover ul {
    
    display: block;
    background-color: #8AE6D5;
    
}

nav ul li ul li a:after {
    
    content: "";
    
}

/*Hier kommen die Klassen/IDs für die einzelnen Menüfelder, also z.B. für Farbe,... */

#item_home {
    
    background-color: #D1B5F5;
    
}

#item_suchmaschinen {
    
    background-color: #8AE6D5;
    
}