nav {
    
    float: left;
    
}

nav ul {
    
    margin: 0;
    padding: 0;
    
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    
}

nav ul li{
    
    float: left;
    
}

nav ul li a {
    
    text-decoration: none;
    color: black;
    
}

nav ul li ul{
    
    display: none;
    
}

nav ul li:hover ul{
    
    display: block;
    
}