nav {
    
    font-size: 120%;
    
}

nav ul {
    
    margin: 0;
    padding: 0;
    
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    
}

nav ul li {
    
    float: left;
    
}

nav ul li a {
    
    text-decoration: none;
    color: black;
    
}

nav ul li a:after, nav ul li a:before {
    
    content: "\00a0";
    
}

nav ul li ul {
    
    display: none;
    position: absolute;
    
}

nav ul li:hover ul {
    
    display: block;
    
}

nav ul li ul li a:before{
    
    content: "\00a0";
    
}

nav ul li ul li {
    
    float: none;
    clear: both;
    
}

nav ul li ul li a:after {
    
    content: "";
    
}

/*Hier kommen die Klassen/IDs für die einzelnen Menüfelder, also z.B. für Farbe,... */

#item_home {
    
    background-color: #D1B5F5;
    
}

#item_explanations, #item_explanations ul li {
    
    background-color: #8AE6D5;
    
}

#item_suchmaschinen, #item_suchmaschinen ul li {
    
    background-color: #CDDB7D;
    
}