/*
 *    Hintergrundeinstellungen
*/
#background {
    
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
    
}

/*
 * Diese ID ist dem div-Container zugewiesen, in dem alle anderen Elemente sind
*/
#wrapper {
    
    width: 60%;
    margin: 10% auto;
    padding: 5%;
    background-color: #FFFFFF;
    
}

.clear_float {
    clear: both;
}

.no_link a {
    
    text-decoration: none;
    color: black;
    
}