/*
 *    Hintergrundeinstellungen
*/
#background {
    
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    
}

/*
 * Diese ID ist dem div-Container zugewiesen, in dem alle anderen Elemente sind
 * BOX-SHADOW: Bitte ideale Werte austesten: xpx ypx zpx - x= x-Verschiebung, y= y-Verschiebung, z= Schatten-Härte
*/
#wrapper {
    
    width: 60%;
    margin: 10% auto;
    padding: 5%;
    background-color: #FFFFFF;
	box-shadow: 2px 2px 2px #dfdfdf;
    
}

/*
 * TEXT-Style
*/

body {
	
    font-family: Arial, Helvetica;
}

p {
	color: #333333;
	
}

li {
	color: #333333;
	
}

h1 {
	color: #333333;
	
}

h3 {
	color: #333333;
	
}

.clear_float {
    clear: both;
}

.no_link a {
    
    text-decoration: none;
    color: black;
    
}

.admin_note {
    
    color: red;
    font-style: italic;
    
}

.admin_note:before {
    
    color: black;
    content: "Admin Note: ";
    
}