
.width60 {
    max-width: 60%;
}

/* Bei Bedarf wieder reinnehmen und obenstehende Klasse auskommentieren! (Bild ist beiden Klassen zugeordnet)
.centered_image {
    
    width: 60%;
    margin: 0 20%;
    
}
*/